fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart==0.0.9
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
pyotp==2.9.0
qrcode==7.4.2
motor==3.6.0
pydantic==1.10.15
email-validator==2.2.0
sendgrid==6.11.0